<div class="col-sm-6 col-md-4 mb-4" id="customer-<%= customer.id %>">
	<div class="card p-3">
		<div class="list-group list-group-flush">
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("name") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.name.present? %>
	          <%= customer.name %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	          <span class="badge badge-pill badge-warning"><%= I18n.t("text.hint") %></span>
	        <% end %>
	      </p>
		  </li>
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("address") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.address.present? %>
	          <%= customer.address %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	          <span class="badge badge-pill badge-warning"><%= I18n.t("text.hint") %></span>
	        <% end %>
	      </p>
		  </li>
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("payment_term") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.payment_term.present? %>
	          <%= customer.payment_term %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	          <span class="badge badge-pill badge-warning"><%= I18n.t("text.hint") %></span>
	        <% end %>
	      </p>
		  </li>
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("note") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.note.present? %>
	          <%= customer.note %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	          <span class="badge badge-pill badge-warning"><%= I18n.t("text.hint") %></span>
	        <% end %>
	      </p>
		  </li>
		  <li class="list-group-item flex-column align-items-start">
	      <%= link_to I18n.t('text.edit'), edit_admin_customer_path(customer), class: "btn btn-primary" %>
	      <%= link_to I18n.t('text.destroy'), [:admin, customer], method: :delete, data: { confirm: I18n.t("text.confirm_destroy") }, class: "btn btn-danger btn-sm float-right" %>
	    </li>
		</div>
	</div>
</div>