<%= search_form_for [:admin, @q] do |f| %>
	<div class="form-row">
    <div class="form-group col-12">
      <%= f.label @nav_search_symbol, I18n.t("text.filter.id_eq") %>
      <%= f.search_field @nav_search_symbol, class: "form-control" %>
    </div>
  </div>
  <%= link_to I18n.t("text.clear"), admin_customers_path, class: "btn btn-link text-danger btn-sm" %>
  <%= f.submit I18n.t("text.apply"), class: "btn btn-secondary float-right btn-sm" %>
<% end %>