<%= link_to admin_customers_path, class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<h1 class="h2"><%= I18n.t('text.new') %><%= Customer.model_name.human %></h1>
<%= render "admin/customers/form", customer: @customer %>